@model Dukawaremallweb.Models.Shop.ShopProductDetailData
@{
    ViewData["Title"] = "Productdetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12 mb-3">
        <div class="card text-center h-80 m-0">
            <div class="card-body">
                <div class="col-xl-5 col-lg-6 col-sm-12 mb-3">
                    <img class="card-img-top mb-0" src="@Model.Productimageurl" alt="Product Image @Model.Productname">
                    <h5 class="card-text text-sm nowrap text-nowrap mb-0">@Model.Productname</h5>
                    <h5 class="card-text text-sm">@Model.Shopname</h5>
                    <p class="card-text text-xs mb-0">@Model.Categoryname</p>
                    <p class="card-text text-sm mb-0">@Model.Subcategoryname</p>
                    <p class="card-text text-xs text-nowrap mb-0 nowrap"><span class="text-decoration-line-through">Ksh. @Model.Oldproductprice.ToString("#,##0.00")</span>&nbsp;&nbsp <span>Ksh. @Model.Productprice.ToString("#,##0.00")</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
